<div>
    
    <form action="" [formGroup]="client_form" (ngSubmit)="send()">
    
        <div class="form-group">
            <input type="text" formControlName="nombre_cliente" placeholder="Nombres" >
            <div *ngIf="client_form.get('nombre_cliente')?.invalid && client_form.get('nombre_cliente')?.touched">
                <div *ngIf="client_form.get('nombre_cliente')?.hasError('required')">Los nombres son obligatorios.</div>
            </div>
            <input type="text" formControlName="apellido_cliente" placeholder="Apellidos">
            <div *ngIf="client_form.get('apellido_cliente')?.invalid && client_form.get('apellido_cliente')?.touched">
                <div *ngIf="client_form.get('apellido_cliente')?.hasError('required')">Los apellidos son obligatorios.</div>
            </div>
        </div>
    
        <div class="form-group">
            <input type="text" formControlName="cedula_cliente"  placeholder="Cedula" (focusout)="validate_field()">
            <div *ngIf="client_form.get('cedula_cliente')?.invalid && client_form.get('cedula_cliente')?.touched">
                <div *ngIf="client_form.get('cedula_cliente')?.hasError('required')">El numero de cedula es obligatorio.</div>
                <div *ngIf="client_form.get('cedula_cliente')?.errors?.['maxlength'] || client_form.get('cedula_cliente')?.errors?.['minlength']">Inserte un numero de cedula valido.</div>    
            </div>
            <div *ngIf="field_error">El numero de cedula ya existe</div>
            <input type="text" formControlName="celular_cliente" placeholder="Celular">
    
            <div *ngIf="client_form.get('celular_cliente')?.invalid && client_form.get('celular_cliente')?.touched">
                <div *ngIf="client_form.get('celular_cliente')?.hasError('required')">El numero de celular es obligatorio.</div>
                <div *ngIf="client_form.get('celular_cliente')?.errors?.['maxlength']">Inserte un numero de celular valido.</div>
                <div *ngIf="client_form.get('celular_cliente')?.errors?.['minlength']">Inserte un numero de celular valido.</div>
            </div>
        </div>
    
        <div class="form-group" *ngIf="selects$">
            <select formControlName="ciudad_fk">
                <option value="" selected>Ciudad</option>
                <option *ngFor="let city of selects$.City" [value]="city.id">{{city.nombre_ciudad}}</option>
                
            </select>
            <div *ngIf="client_form.get('ciudad_fk')?.invalid && client_form.get('ciudad_fk')?.touched">
                <div *ngIf="client_form.get('ciudad_fk')?.hasError('required')">La ciudad es obligatoria.</div>
            </div>
            
        </div>
    
        <div class="form-group">
            <input *ngIf="accion =='create'" type="password" placeholder="Contraseña" formControlName="password_cliente" (focusout)="validate()">
    
            <div *ngIf="client_form.get('password_cliente')?.invalid && client_form.get('password_cliente')?.touched">
                <div *ngIf="client_form.get('password_cliente')?.hasError('required')">La contraseña es obligatoria.</div>
                <div *ngIf="client_form.get('password_cliente')?.errors?.['minlength']">El numero de caracteres minimo es de 10.</div>
            </div>
    
            <input  *ngIf="accion =='create'" type="password" placeholder="Confirmar contraseña" (focusout)="validate()" formControlName="password_confirm">
            <div *ngIf="password_error">Las contraseñas no coinciden</div>
        </div>
    
        <div class="form-group">
            <input type="text" placeholder="Correo" formControlName="correo_cliente" required="">
            <div *ngIf="client_form.get('correo_cliente')?.invalid && client_form.get('correo_cliente')?.touched">
                <div *ngIf="client_form.get('correo_cliente')?.hasError('email')">Inserte un correo valido.</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
    
        </div>
    </form>
    
    </div>
    
